@model IEnumerable<FeastFreedom.Models.Kitchen>

@{
    ViewBag.Title = "Index";
    Layout = "_CustomLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <style>


        .footer {
            /*margin-top: 5%;
            background: white;*/
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>

    <h2>Feast Freedom Restaurants</h2>


    @if (Session["UserName"] != null)
    {
        <h2>Welcome @Session["UserName"].ToString()</h2>
    }



    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card margins-card" style="width: 18rem;">
                <img class="images" src="~/Images/@Html.DisplayFor(modelItem => item.Image)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.KitchenName) Image">
                <div class="card-body">
                    <h5 class="card-text"> @Html.DisplayFor(modelItem => item.KitchenName) </h5>
                    @Html.ActionLink("Menu", "RestaurantMenu", "Menus", new { id = item.KitchenID }, null)
                    <br />
                </div>
            </div>
        </div>

        @*<div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>*@

    }

    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KitchenName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DaysWorking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursWorking)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KitchenName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DaysWorking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>

                    @Html.ActionLink("Menu", "RestaurantMenu", "Menus", new { id = item.KitchenID }, null)

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.KitchenID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.KitchenID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.KitchenID })
                </td>
            </tr>
        }*@

    </table>

</body>

</html>