@model FeastFreedom.Models.User

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        #login-div {
            margin-top: 20%;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            /*position: absolute;*/
            /*left: 40%;
            top: 40%;*/
            border: 1px solid #000000;
            padding: 10px 10px;
        }
        .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
    </style>
</head>
<body>
    <h4 class="messageID">
        @if (ViewBag.userData != null)
        {@ViewBag.userData}
    </h4>

    <div id="login-div">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <table>
                <tr>
                    <td style="text-decoration:underline"> Welcome to FeastFreedom </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserPassword)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserPassword)
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="btn btn-default" type="submit" name="name" value="Login" />
                        <input class="btn btn-default" type="reset" name="name" value="Reset" />
                    </td>
                </tr>

            </table>
        }

        @if (ViewBag.Error != null)
        {
            <h3 class="text-danger">@ViewBag.Error</h3>
        }

    </div>

    @*<div>
            @Html.ActionLink("Create New", "Register")
        </div>*@
</body>

</html>
